<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="Saiba sobre os principais integrantes do RGEAR"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="../../css/about-us.css" />
    <title>RGEAR | Sobre Nós</title>
  </head>

  <body>
    <header class="d-flex flex-column h-100">
      <nav>
        <div class="p-4 d-flex align-items-center gap-4 gap-md-5 w-100 justify-content-around justify-content-md-around">
          <h1 class="mb-0">
            <img class="img-fluid" src="../../assets/img/logo_ifba_lauro.png" alt="Logo Vertical IFBA Lauro de Freitas" style="max-width: 150px; height: auto;">
          </h1>
          <a>
            <img class="img-fluid"  src="../../assets/img/logo_RGEAR.png" alt="Logo do Grupo de Pesquisa em Engenharia, Inteligência Artificial e Robótica Aplicadas - RGEAR" style="max-width: 150px; height: auto;">
          </a>
        </div>
    
        <div class="container-fluid nav__links d-flex justify-content-center align-items-center mt-auto p-3">
          <ul class="d-flex gap-4 gap-md-5 list-unstyled mb-0 align-items-center">
            <li>
              <a href="#" class="text-light custom-link">Início</a>
            </li>
            <li>
              <a href="#destaque" class="text-light custom-link">Destaques</a>
            </li>
            <li>
              <a href="#" class="text-light custom-link">Login</a>
            </li>
            <li>
              <a href="../Repositorio/index.html" class="text-light custom-link">Repositório</a>
            </li>
          </ul>
        </div>
      </nav>

      <div vw="" class="enabled" style="left: initial; right: 0px; top: 50%; bottom: initial; transform: translateY(calc(-50% - 10px));">
        <div vw-access-button="" class="active"><img class="access-button" data-src="assets/access_icon.svg" alt="Conteúdo acessível em Libras usando o VLibras Widget com opções dos Avatares Ícaro, Hosana ou Guga." src="https://vlibras.gov.br/app//assets/access_icon.svg">
        <img class="pop-up" data-src="assets/access_popup.jpg" alt="Conteúdo acessível em Libras usando o VLibras Widget com opções dos Avatares Ícaro, Hosana ou Guga." src="https://vlibras.gov.br/app//assets/access_popup.jpg"></div>
        <div vw-plugin-wrapper=""><div vp="">
        <div vp-box=""></div>
        <div vp-message-box=""></div>
        <div vp-settings=""></div>
        <div vp-dictionary=""></div>
        <div vp-settings-btn=""></div>
        <div vp-info-screen=""></div>
        <div vp-suggestion-screen=""></div>
        <div vp-translator-screen=""></div>
        <div vp-main-guide-screen=""></div>
        <div vp-suggestion-button=""></div>
        <div vp-rate-box=""></div>
        <div vp-change-avatar=""></div>
        <div vp-additional-options=""></div>
        <div vp-controls=""></div>
        <span vp-click-blocker=""></span>
        </div></div>
      </div>
      <script src="https://vlibras.gov.br/app/vlibras-plugin.js"></script>
        <script>
          new window.VLibras.Widget('https://vlibras.gov.br/app');
        </script>
    </header>
    
    <main>
      <section
        class="container-fluid d-flex flex-column align-items-center justify-content-center"
      >
        <div class="section__about-us mt-4">
          <h2 class="text-center title mt-5">Sobre Nós</h2>
          <p class="w-50  w-md-100 text-center mt-5 m-auto">
            O RGEAR, criado em 2018 pelo Projeto Robótica Educacional IFBA Lauro
            de Freitas, resultou em diversas iniciativas como oficinas de
            robótica educacional e sustentável e introdução ao Arduino. Entre
            2019 e 2020, o grupo participou da SNCT e foi aprovado na Chamada
            CNPq/MCTIC Nº 03/2020, promovendo atividades como oficinas de
            robótica, Arduino, ThinkerCad, e minicursos de mineração de
            sentimento em textos do Twitter. Além disso, realizou palestras
            sobre Inteligência Artificial, Ética e Robótica.
          </p>
        </div>

        <article
          class="container-fluid d-flex flex-column align-items-center gap-6 article"
        >
          <div class="card mb-3 border border-0 w-100" style="max-width: 780px">
            <div class="row g-0 d-flex text-md-start text-center justify-content-start">
              <div class="col-md-4 d-flex justify-content-center align-items-center">
                  <figure>
                    <img src="img/Pesquisadores/perfil-dermeval.png" class="img-fluid" alt="Foto de Perfil do Pesquisador Dermeval Heitor Souza Gritta">
                  </figure>
              </div>
              <div class="col-md-8 d-flex flex-column justify-content-center align-items-center">
                <div class="card-body">
                  <h3 class="card-title fs-2 mb-5 fw-bold highlight">Dermeval Heitor Souza Gritta</h3>
                  <p class="card-text w-100" style="text-align: justify;">
                    Graduado e mestre em Física pela UFBA, docente do IFBA com
                    pesquisas em Modelagem Computacional e Biofísica Molecular.
                    Atualmente integra o grupo RGEAR, desenvolvendo metodologia
                    de ensino em Robótica Educacional, com foco na reutilização
                    de materiais recicláveis e eletroeletrônicos para aplicação
                    prática no currículo.
                  </p>
                </div>
              </div>
            </div>
          </div>

          <div class="card mb-3 border border-0 w-100" style="max-width: 780px">
            <div class="row g-0 d-flex text-md-start text-center justify-content-end flex-row-reverse">
              <div class="col-md-4 d-flex justify-content-center align-items-center">
                <figure>
                    <img src="img/Pesquisadores/perfil-joacir.png" class="img-fluid" alt="Foto de Perfil do Pesquisador Joacir Simões Ferreira">
                </figure>
              </div>
              <div class="col-md-8 d-flex flex-column justify-content-center align-items-center">
                <div class="card-body">
                  <h3 class="card-title fs-2 mb-5 fw-bold highlight">Joacir Simões Ferreira</h3>
                  <p class="card-text w-100" style="text-align: justify;">
                    Doutor pela UFBA (2018), mestre e especialista pela UNIFACS, professor no IFBA. Atua em Robótica, IA e Jogos Digitais, com interesse em Análise Cognitiva e Segurança da Informação. Líder do grupo RGEAR, desenvolve ensino multidisciplinar com materiais recicláveis. Desde 2022, é Assessor de Inovação no DINOV do IFBA.
                  </p>
                </div>
              </div>
            </div>
          </div>

          <div class="card mb-3 border border-0 w-100" style="max-width: 780px">
            <div class="row g-0 d-flex text-md-start text-center justify-content-start">
              <div class="col-md-4 d-flex justify-content-center align-items-center">
                <svg
                  class="bd-placeholder-img img-fluid rounded-start"
                  width="100%"
                  height="250"
                  xmlns="http://www.w3.org/2000/svg"
                  role="img"
                  aria-label="Placeholder: Image"
                  preserveAspectRatio="xMidYMid slice"
                  focusable="false"
                >
                  <title>Placeholder</title>
                  <rect width="100%" height="100%" fill="#868e96"></rect>
                  <text x="50%" y="50%" fill="#dee2e6" dy=".3em">Image</text>
                </svg>
              </div>
              <div class="col-md-8 d-flex flex-column justify-content-center align-items-center">
                <div class="card-body">
                  <h3 class="card-title fs-2 mb-5 fw-bold highlight">Andrique Figueirêdo Amorim</h3>
                  <p class="card-text w-100" style="text-align: justify;">
                    Mestre em Ensino e Bacharel em Ciência da Computação pela UESB, especialista em Robótica Educacional e Engenharia de Sistemas. Professor do IFBA, atua em Informática na Educação, robôs autônomos, kits Lego, C/C++, PHP, sistemas web e jogos digitais. General chair da CBR e membro do grupo RGEAR.
                  </p>
                </div>
              </div>
            </div>
          </div>

          <div class="card mb-3 border border-0 w-100" style="max-width: 780px">
            <div class="row g-0 d-flex text-md-start text-center justify-content-end flex-row-reverse">
              <div class="col-md-4 d-flex justify-content-center align-items-center">
                <figure>
                    <img src="img/Pesquisadores/perfil-jpmoraes.png" class="img-fluid" alt="Foto de Perfil do Pesquisador João Pedro de Almeida Moraes">
                </figure>
              </div>
              <div class="col-md-8 d-flex flex-column justify-content-center align-items-center">
                <div class="card-body">
                  <h3 class="card-title fs-2 mb-5 fw-bold highlight">João Pedro de Almeida Moraes</h3>
                  <p class="card-text w-100" style="text-align: justify;">
                    Graduado em Licenciatura da Computação pelo IFBA (2017), pós-graduado em Educação Profissional (2019) e Desenvolvimento Web (2021), mestre em Ciência da Computação pela UEFS (2023). Atua no grupo RGEAR em Robótica Educacional, desenvolvendo ensino multidisciplinar com materiais recicláveis.
                  </p>
                </div>
              </div>
            </div>
          </div>

          <div class="card mb-3 border border-0 w-100" style="max-width: 780px">
            <div class="row g-0 d-flex text-md-start text-center justify-content-start">
              <div class="col-md-4 d-flex justify-content-center align-items-center">
                <svg
                  class="bd-placeholder-img img-fluid rounded-start"
                  width="100%"
                  height="250"
                  xmlns="http://www.w3.org/2000/svg"
                  role="img"
                  aria-label="Placeholder: Image"
                  preserveAspectRatio="xMidYMid slice"
                  focusable="false"
                >
                  <title>Placeholder</title>
                  <rect width="100%" height="100%" fill="#868e96"></rect>
                  <text x="50%" y="50%" fill="#dee2e6" dy=".3em">Image</text>
                </svg>
              </div>
              <div class="col-md-8 d-flex flex-column justify-content-center align-items-center">
                <div class="card-body">
                  <h3 class="card-title fs-2 mb-5 fw-bold highlight">Leandro Silva Vasconcellos</h3>
                  <p class="card-text w-100" style="text-align: justify;">
                    Engenheiro Eletricista pela UFBA (2008) e mestre em Engenharia Aeronáutica pelo ITA (2013). Professor no IFBA, com experiência em energia renovável, sistemas fotovoltaicos, eficiência energética, eletrônica de potência e mobilidade elétrica. Atuou na Embraer na certificação das aeronaves Legacy 450/500 e E-Jets.
                  </p>
                </div>
              </div>
            </div>
          </div>

          <div class="card mb-3 border border-0 w-100" style="max-width: 780px">
            <div class="row g-0 d-flex text-md-start text-center justify-content-end flex-row-reverse">
              <div class="col-md-4 d-flex justify-content-center align-items-center">
                <svg
                  class="bd-placeholder-img img-fluid rounded-start"
                  width="100%"
                  height="250"
                  xmlns="http://www.w3.org/2000/svg"
                  role="img"
                  aria-label="Placeholder: Image"
                  preserveAspectRatio="xMidYMid slice"
                  focusable="false"
                >
                  <title>Placeholder</title>
                  <rect width="100%" height="100%" fill="#868e96"></rect>
                  <text x="50%" y="50%" fill="#dee2e6" dy=".3em">Image</text>
                </svg>
              </div>
              <div class="col-md-8 d-flex flex-column justify-content-center align-items-center">
                <div class="card-body">
                  <h3 class="card-title fs-2 mb-5 fw-bold highlight">Marcio Luis Valença Araújo</h3>
                  <p class="card-text w-100" style="text-align: justify;">
                    Professor do Doutorado Multi-Institucional e Multidisciplinar em Difusão do Conhecimento (DMMDC) e do Mestrado em Propriedade Intelectual e Transferência de Tecnologia (PROFNIT). Atua no IFBA, campus Lauro de Freitas. Membro dos grupos de pesquisa NPAI (CNPq) e IPITT (PROFNIT IFBA), com foco em inovação e transferência de tecnologia.
                  </p>
                </div>
              </div>
            </div>
          </div>

        </article>
      </section>
    </main>

    <footer class="p-4 text-light marginTop">
      <div class="d-flex flex-column flex-md-row justify-content-between align-items-center w-100 footer__container text-center text-md-start gap-3 gap-md-5">
        <a class="mb-0" href="https://dgp.cnpq.br/dgp/espelhogrupo/9436091690747959" target="_blank">
          <img src="../../assets/img/logo_RGEAR.png" alt="Logo do Grupo de Pesquisa em Engenharia, Inteligência Artificial e Robótica Aplicadas - RGEAR" style="max-width: 150px; height: auto;">
        </a>
        
        <div class="footer__social-media my-3 my-md-0">
          <h4 class="fs-3">Redes Sociais</h4>
          <button class="text-danger p-2 border border-0 rounded d-flex align-items-center justify-content-center">
            <i class="bi bi-instagram"></i>
            <a class="text-danger ms-2" href="https://www.instagram.com/rgear.lft/?igsh=cHlsZHYwbXprMThm" target="_blank">
              Instagram
            </a>
          </button>
        </div>
    
        <a href="#" class="custom-link">Conheça os desenvolvedores</a>
      </div>
    </footer>
 
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
