<footer class="p-4 text-light marginTop">
  <div
    class="d-flex flex-column flex-md-row justify-content-between align-items-center w-100 footer__container text-center text-md-start gap-3 gap-md-5"
  >
    <a
      class="mb-0"
      href="https://dgp.cnpq.br/dgp/espelhogrupo/9436091690747959"
      target="_blank"
    >
      <img
        src="../../assets/img/logo_RGEAR.png"
        alt="Logo do Grupo de Pesquisa em Engenharia, Inteligência Artificial e Robótica Aplicadas - RGEAR"
        style="max-width: 150px; height: auto"
      />
    </a>

    <div class="footer__social-media my-3 my-md-0">
      <h4 class="fs-3">Redes Sociais</h4>
      <button
        class="text-danger p-2 border border-0 rounded d-flex align-items-center justify-content-center"
      >
        <i class="bi bi-instagram"></i>
        <a
          class="text-danger ms-2"
          href="https://www.instagram.com/rgear.lft/?igsh=cHlsZHYwbXprMThm"
          target="_blank"
        >
          Instagram
        </a>
      </button>
    </div>

    <a href="#" class="custom-link">Conheça os desenvolvedores</a>
  </div>
</footer>