@import url(global.css);

html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

header {
  background-image: linear-gradient(#0d731c, #075913);
}

main {
    margin: 0 auto;
    flex: 1;
}

a {
  transition: 0.3s;
}

a:hover {
  opacity: 0.8;
}

button {
    background: var(--dark-green);
}

.title {
  font-size: 3.8rem;
}

.article {
  margin-top: 5.6rem;
  gap: 6.4rem;
}

.highlight {
  display: inline-block;
  border-bottom: .5rem solid #1d571f;
  width: 65%;
  padding-bottom: .5rem;
}

.nav__links,
footer {
  background-color: var(--dark-green);
}

.article {
  margin-top: 10.0rem;
}

.custom-link {
  color: var(--white);
  text-decoration: none;
  position: relative;
}

.custom-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -.3rem;
  width: 100%;
  height: .3rem;
  background-color: #28a745;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.custom-link:hover::after {
  transform: scaleX(1);
}

.pe-3 {
    padding-right: 1rem;
}

.marginTop {
  margin-top: 8.0rem;
}

.inputPassword {
  max-width: 40rem; 
  width: 100%;     
}